doctype html
html(lang='fi')
    head
        meta(charset='UTF-8')
        title Yritysluotto lasku
        //- Remove style+include tags as soon as next row works
        //- link(rel='stylesheet', type='text/css', href=`` + includes.css)
        style
             include statement.css
    body
        // div(id="ruler")
        - var seller = data.sellerData
        - var invoiceInfo = data.invoiceInfoData
        - var minToPay = ""
        - var totalToPay = ""
        div(class="page_header")
            table
                tbody
                    tr(class="header_row1")
                            td(class="content_cell")
                                div(class="logo")
                                    - var logo = translationObj.media.logo
                                    img(src=logo alt="Logo")
                            td(class="content_cell document_title")
                                p= invoiceInfo.invoiceTypeText
                    tr(class="header_row2")
                        td(class="content_cell")
                            div(class="recipient_address")
                                p= invoiceInfo.customerName
                                p= invoiceInfo.customerStreetName
                                p= invoiceInfo.customerPostCodeIdentifier + " " + invoiceInfo.customerTownName
                        td(class="content_cell")
                            div(class="div_table invoice_info")
                                div(class="div_row")
                                    div(class="div_cell")
                                        p Päivämäärä
                                    div(class="div_cell")
                                        p= invoiceInfo.invoiceDate
                                div(class="div_row")
                                    div(class="div_cell")
                                        p Viitteenne
                                    div(class="div_cell")
                                        p= invoiceInfo.invoiceBuyerReferenceIdentifier
                                div(class="div_row")
                                    div(class="div_cell")
                                        p Eräpäivä
                                    div(class="div_cell")
                                        p= invoiceInfo.invoiceDueDate
                                div(class="div_row")
                                    div(class="div_cell")
                                        p Laskun numero
                                    div(class="div_cell")
                                        p= invoiceInfo.invoiceNumber
                                div(class="div_row")
                                    div(class="div_cell")
                                        p Viivästyskorko
                                    div(class="div_cell")
                                        p 24,9 %
                                div(class="div_row")
                                    div(class="div_cell")
                                        p Huomautusaika
                                    div(class="div_cell")
                                        p 8 pv
                                div(class="div_row")
                                    div(class="div_cell")
                                        p Maksuehdot
                                    div(class="div_cell")
                                        p 14 pv netto
        table(class="main_content_table" id="page1")
            thead
                tr
                    td
                        div(class="page_header_space")
            tbody
                tr
                    td
                        div(class="main_content")
                            div(class="invoice_text")
                                p= "Yritysluotto no. " + invoiceInfo.customerLoanID + ", erä " + invoiceInfo.invoiceLoanBatchNumber + "/" + invoiceInfo.invoiceLoanTotalBatches
                            div(class="div_table specification_table")
                                div(class="div_row specification_title_row")
                                    div(class="div_cell specification_title")
                                        p Laskuerittely
                                    div(class="div_cell specification_title")
                                        p ALV 0 %
                                    div(class="div_cell specification_title")
                                        p ALV
                                    div(class="div_cell specification_title")
                                        p Yht. EUR
                                each item, key in invoiceInfo.invoiceRows
                                    div(class="div_row specification_value_row")
                                        div(class="div_cell")
                                            p= item.articleName
                                        div(class="div_cell")
                                            p= item.amount
                                        div(class="div_cell")
                                            p 0,00
                                        div(class="div_cell")
                                            p= item.amount
                                            if(key == invoiceInfo.invoiceRows.length - 2)
                                                - totalToPay = item.amount
                                            else if(key == invoiceInfo.invoiceRows.length - 1)
                                                - minToPay = item.amount
                            div(class="div_table reference_table")
                                div(class="div_row")
                                    div(class="div_cell reference_title")
                                        p Viitenumero
                                    div(class="div_cell reference_title")
                                    div(class="div_cell reference_title")
                                div(class="div_row")
                                    div(class="div_cell reference_value")
                                        p= invoiceInfo.invoiceSellersBuyerIdentifier
                                    div(class="div_cell reference_value middle")
                                        p Lasku yhteensä euroa
                                    div(class="div_cell reference_value")
                                        p(class="euros")= invoiceInfo.invoiceAmount
                            div(class="legal_info")
                                p.  
                                    Tämä laskusaatava sekä sen perusteena oleva lainasopimus on siirretty ja pantattu kaikkine oikeuksineen Svea Bank AB, filial i Finlandille (Svea), Mechelininkatu 1 a, 00180 Helsinki, 0942423333 / info@svea.fi. Lasku voidaan maksaa pätevästi vain Svean ilmoittamalle tilille FI25 1820 3000 0684 86. Laskua koskevat mahdolliset reklamaatiot ja muut huomautukset tulee esittää viipymättä kirjallisesti Svealle. Saatavan siirto on peruttavissa ainoastaan Svean kirjallisella suostumuksella.
                                p.
                                    ALV 41 § Rahoituspalveluiden myynti alv 0%
                            div(class="banner")
                                - var logo = translationObj.media.banner
                                img(src=logo alt="Banner")
                            div(class="faq_info")
                                p.  
                                    Vastaukset usein kysyttyihin kysymyksiin löydät myös osoitteesta www.yritysluotto.fi.
                        div(class="transfer_check")
                            div(class="div_table company_info_footer")
                                div(class="div_row")
                                    div(class="div_cell")
                                        span OPR-Finance B2B Oy
                                        span Lautatarhankatu 8 B
                                        span 00580 Helsinki
                                        span Y-tunnus: 2494620-4
                                        span www.yritysluotto.fi
                                        span 020 741 2032
                            div(class="transfer_check_container")
                                table(class="transfer_check_table")
                                    tbody
                                        tr(class="header_row")
                                            td(class="info_column")
                                                div(class="content")
                                                    p Saajan<br/>tilinumero
                                                    p Mottagarens<br/>kontonummer
                                            td(class="content_column border_right")
                                                div(class="content")
                                                    p IBAN
                                                    p(class="normal_with_margin")= seller.sellerAccountID
                                            td(class="content_column")
                                                div(class="content")
                                                    p BIC
                                                    p(class="normal_with_margin")= seller.sellerBic
                                        tr(class="receiver_row")
                                            td(class="info_column")
                                                div(class="receiver_info")
                                                    div(class="content")
                                                        p Saaja
                                                        p Mottagare
                                                div(class="payer_info")
                                                    div(class="content")
                                                        p Maksajan<br/>nimi ja<br/>osoite
                                                        p Betalarens<br/>namn och<br/>adress
                                                div(class.="signing_info")
                                                    div(class="content")
                                                        p Allekirjoitus
                                                        p Underskrift
                                            td(class="content_column border_right")
                                                div(class="receiver_info")
                                                    div(class="content")
                                                        p(class="normal") Svea Bank AB, Filial i Finland
                                                div(class="payer_info")
                                                    div(class="content")
                                                        p(class="normal")= invoiceInfo.customerName
                                                        p(class="normal")= invoiceInfo.customerStreetName
                                                        p(class="normal")= invoiceInfo.customerPostCodeIdentifier + " " + invoiceInfo.customerTownName
                                                div(class="signing_info")
                                                    div(class="content")
                                                        div(class="signing_line")
                                            td(class="content_column")
                                                div(class="container")
                                                    div(class="content")
                                                        p(class="normal").
                                                    div(class="content")
                                                        p(class="normal").
                                                            E-laskua varten, ottaisitko yhteyttä asiakaspalvelu@yritysluotto.fi.<br>
                                                            Tarvitsemme y-tunnuksen ja OVT -verkkolaskuosoitteen kytkentää varten.
                                                    div(class="content bottom")
                                                        p(class="normal") Huom! Maksettaessa on käytettävä viitenumeroa
                                                    div(class="ref_container")
                                                        div(class="info")
                                                            div(class="content")
                                                                p Viitenumero
                                                                p Ref. Nr
                                                        div(class="reference_number")
                                                            div(class="content")
                                                                p(class="normal")= invoiceInfo.invoiceSellersBuyerIdentifier
                                        tr(class="amount_row")
                                            td(class="info_column")
                                                div(class="content")
                                                    p Tililtä nro
                                                    p Från konto nr
                                            td(class="content_column border_right")
                                            td(class="content_column")
                                                div(class="date_amount_container")
                                                    div(class="content date_info")
                                                        p Eräpäivä
                                                        p Forf.dag
                                                    div(class="content date")
                                                        p &nbsp;
                                                        p(class="normal")= invoiceInfo.invoiceDueDate
                                                    div(class="content amount")
                                                        p Euro
                                                        p(class="normal")= invoiceInfo.invoiceAmount
                                        tr(class="barcode_row")
                                            td(colspan="2")
                                                div(class="content barcode")
                                                    svg(id="transferBarCode")
                                            td
                                                div(class="content")
                                                    p.
                                                        Maksu välitetään saajalle maksujenvälityksen 
                                                        ehtojen mukaisesti ja vain maksajan 
                                                        ilmoittaman tilinumeron perusteella.
                                                    p.
                                                        Betainingen förmedlas till mottagaren 
                                                        enligt villkoren för betalningsförmedling 
                                                        och endast till det kontonummersom betalaren 
                                                        angivit.
script(src="https://cdn.jsdelivr.net/jsbarcode/3.3.20/JsBarcode.all.min.js")
script(type='text/javascript').
    var code = "#{invoiceInfo.virtualBankBarcode}";
    JsBarcode("#transferBarCode", code, { format: "code128", height: 25, textPosition: "top", width: 1, fontSize: 10 });