doctype html
html(lang='nl')
    head
        meta(charset='UTF-8')
        title Flex-online yearly overview
        //- Remove style+include tags as soon as next row works
        //- link(rel='stylesheet', type='text/css', href=`` + includes.css)
        style
            include overview.css
    body
        - function formatAmount(amount) {return Number(amount).toLocaleString('nl-NL', {style: 'currency', currency:"EUR", minimumFractionDigits: 2, maximumFractionDigits: 2})}
        div(class="header")
            - const logo = translationObj.media.logo
            img( class="header__logo" src=logo alt="Logo")
            div(class="header__contact")
                p(class="body_text_bold")="OPR-Bedrijfskrediet"
                p(class="body_text")="Koninginneweg 11"
                p(class="body_text")="1217 KP Hilversum"
                a(class="body_text_link")="https://opr-bedrijfskrediet.nl/"
        
        div(class="loan_info")
            div(class="loan_info__row")
                p(class="body_text")=data.companyName
                p(class="body_text")=data.streetAddress
                p(class="body_text")=`${data.zipcode} ${data.city}`
        div(class="greeting")
            div(class="loan_info__row")
                p(class="paragraph_margin3")
                    span(class="body_text")="Betreft: "
                    span(class="body_text_bold")=`Jaaropgave ${data.reportingYear}`
                p(class="body_text")=`Kenmerk: ${data.loanAccountNumber}`
        div(class="greeting")
            div(class="loan_info__row")    
                p(class="body_text paragraph_margin8")="Beste heer / mevrouw,"
                p(class="body_text")="Hierbij treft u de jaaropgave over het afgelopen jaar aan:"

                
        div(class="overview")
            div(class="overview__content")
                div(class="overview__content_text")
                    p(class="body_text")=`Saldo op 01-01-${data.reportingYear}:`
                    p(class="body_text")=`Saldo op 31-12-${data.reportingYear}:`
                    p(class="body_text")=`Rente gefactureerd over gebruik in ${data.reportingYear}`
                    p(class="body_text")="Opnamekosten:"
                
                div(class="overview__content_amount")
                    p(class="body_text")=formatAmount(data.remainingPrincipalSumStart)
                    p(class="body_text")=formatAmount(data.remainingPrincipalSumEnd)
                    p(class="body_text")=formatAmount(data.interestTotal)
                    p(class="body_text")=formatAmount(data.startupFeeAmountTotal)

        div(class="questions_row")
            p(class="body_text")="Is uw krediet overgedragen ter incasso?"
            p(class="body_text")="Deze kosten staan hier niet vermeld, u kunt deze opvragen bij Intrum Nederland BV."    
        div(class="questions_row")
            p(class="body_text")="Heeft u vragen over uw jaaropgave?"
            p(class="body_text")="Neem dan contact met ons op via 085-0643300. Wij helpen u graag op maandag tot en met"
            p(class="body_text")="vrijdag tussen 9.00 en 17.00 uur."  

        p(class="regards_text")="Met vriendelijke groet,"

        p(class="body_text")="OPR-Bedrijfskrediet"
        p(class="body_text")= "+ 31 (0)85 064 3300"
        p(class="body_text")="klantenservice@opr-bedrijfskrediet.nl"

        div(class="footer")
            div(class="footer__content")
                p="OPR-Bedrijfskrediet Flex is een dienst van OPR Finance B.V., KvK 67064086, IBAN NL03RABO0358439639, Koninginneweg 11, 1217 KP Hilversum. Telefoon: 085-0643300. E-mail: klantenservice@opr-bedrijfskrediet.nl"

