doctype html
html(lang='fi')
    head
        meta(charset='UTF-8')
        title Flex-online yearly overivew
        //- Remove style+include tags as soon as next row works
        //- link(rel='stylesheet', type='text/css', href=`` + includes.css)
        style
            include overview.css
    body
        - function formatAmount(amount) {return Number(amount).toLocaleString('fi-FI', {style: 'currency', currency:"EUR", minimumFractionDigits: 2, maximumFractionDigits: 2})}
        div(class= "document_body")
            div(class="header")
                div(class="header_logo_container")
                    - const logo = translationObj.media.logo
                    img(class="header__logo" src=logo alt="Logo")
                //- p(class="header__date")= data.currentDate
            
            div(class="loan_info")
                div(class="loan_info__row")
                    p(class="loan_info__heading body_text_bold body_text_uppercase")="Saldotodistus"
                    p(class="body_text")=""
                    p(class="body_text")= data.reportGenerationDate
                div(class="loan_info__row")
                    p(class="body_text_bold body_text_uppercase")="Velallinen"
                    p(class="body_text_bold")=data.companyName
                    p(class="body_text_bold")=data.organizationNumber
                div(class="loan_info__row")
                    p(class="body_text_bold body_text_uppercase")="Lainanumero"
                    p(class="body_text")=data.loanApplicationNumber
                    p(class="body_text")=""
                div(class="loan_info__row")
                    p(class="body_text_bold body_text_uppercase")="Sopimus alkaen"
                    p(class="body_text")=data.loanCreateDate
                    p(class="body_text")=""

            div(class="overview")
                div(class="overview__row")
                    p(class="body_text_bold body_text_uppercase")="Pääoma"
                    p(class="body_text")=data.reportDate
                    p(class="body_text_amount")=formatAmount(data.remainingPrincipal)
                div(class="overview__row")
                    p(class="body_text_bold body_text_uppercase")="Korko"
                    p(class="body_text")=data.reportDate
                    p(class="body_text_amount")=formatAmount(data.unpaidInterest)
                div(class="overview__row")
                    p(class="body_text_bold body_text_uppercase")="Nostopalkkiot"
                    p(class="body_text")=data.reportDate
                    p(class="body_text_amount")=formatAmount(data.unpaidTrancheStartUpFee)
                div(class="overview__row")
                    p(class="body_text_bold body_text_uppercase")="Viivästyskorko"
                    p(class="body_text")=data.reportDate
                    p(class="body_text_amount")=formatAmount(data.unpaidLatePaymentInterest)
                div(class="overview__row")
                    p(class="body_text_bold body_text_uppercase")="Avoin saldo yhteensä"
                    p(class="body_text")=data.reportDate
                    p(class="body_text_amount")=formatAmount(data.totalUnpaidAmount)

            p(class="overview_long_text")="Kuukausittainen vähimmäiserä koostuu korosta ja mahdollisesta nostopalkkiosta. Flex joustoluotto on lyhennysvapaa, joten voit lyhentää luottoa yrityksellesi sopivaan tahtiin, maksaa tarvittaessa ainoastaan luoton korko- ja nostokulut tai vaikka koko luoton kerralla takaisin. Pääomalle lasketaan kuukausikorkoa 5 %. Nostoista perimme 3 % nostopalkkion nostoa seuraavan laskun yhteydessä. Maksat aina vain tekemistäsi nostoista."
            p(class="place_date")= `Helsingissä ${data.reportGenerationDate}`

            p(class="yrlu_text")="Yritysluotto Flex"
            p(class="asiakaspalvelu_text")="Asiakaspalvelu"

        div(class="footer")
            div(class="footer__line")
            div(class="footer__content")
                p="OPR-Finance B2B Oy"
                p="Lautatarhankatu 8 B"
                p="00580 Helsinki"
                p="Y-tunnus: 2494620-4"
                p="flex.yritysluotto.fi"
                p="020 741 2032"