doctype html
html(lang='fi')
    head
        meta(charset='UTF-8')
        title Flex-online Transactions
        //- Remove style+include tags as soon as next row works
        //- link(rel='stylesheet', type='text/css', href=`` + includes.css)
        style
            include transactions.css
    body
        // div(id="ruler")
        - const transactions = data.transactions
        - function formatDate(date){return date.toLocaleDateString('fi-FI', { year:"numeric", month:"2-digit", day:"2-digit"})}
        - const date=formatDate(new Date())
    div(class="document_body")
        div(class="header")
            div(class="header__logo")
                - const logo = translationObj.media.logo
                img(src=logo alt="Logo")
            p(class="header__date")= date
        table(class="loan_info")
            thead
                tr
                    td
                        p VELALLINEN
                    td
                        p= data.companyName
                    td
                        p= data.organisationNumber
            tbody
                tr
                    td
                        p LAINANUMERO
                    td
                        p=data.applicationNumber
                    td
                tr
                    td
                        p SOPIMUS ALKAEN
                    td
                        p=formatDate(new Date(data.creationDate))
                    td

        div(class="table_transactions_title")
            p(class="body_text")=`TAPAHTUMATOSITE AJANJAKSOLTA ${formatDate(new Date(data.dateFrom))} - ${formatDate(new Date(data.dateTo))}`
        each page, key in transactions
            
            div(class="iterative_page_content")
                if page.pageNumber > 1
                    div(class="page_number")
                        p=`sivu ${page.pageNumber}`
                table(class="table_transactions")
                    thead
                        tr
                            td
                                div(class="main_table_space")
                                    p PÄIVÄMÄÄRÄ
                            td
                                div(class="main_table_space")
                                    p TAPAHTUMA
                            td
                                div(class="main_table_space")
                                    p SUMMA
                    tbody
                        each item, key in page.transactions
                            tr
                                td
                                    p=item.date
                                td
                                    p= item.type
                                td
                                    p= item.amount
                div(class="footer")
                    div(class="footer__line")
                    div(class="footer__content")
                        p="OPR-Finance B2B Oy"
                        p="Lautatarhankatu 8 B"
                        p="00580 Helsinki"
                        p="Y-tunnus: 2494620-4"
                        p="flex.yritysluotto.fi"
                        p="020 741 2032"